# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\vikto\dev\bhax-derived\thematic_tutorials\bhax_textbook_IgyNeveldaProgramozod\l03\uml-java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
